<%= form_tag buscar_carrera_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>

<h1> carreras</h1>


<table class="table table-striped table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Codigo</th>
    <th>Perfilingresoresultado</th>
    <th>Condicionoperacion</th>
    <th>Capacidadautoregulacion</th>
    <th>Cantidadaniosacreditada</th>
    <th>Sede</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carreras.each do |carrera| %>
  <tr>
    <td><%= carrera.nombre %></td>
    <td><%= carrera.codigo %></td>
    <td><%= carrera.perfilIngresoResultado %></td>
    <td><%= carrera.condicionOperacion %></td>
    <td><%= carrera.capacidadAutoregulacion %></td>
    <td><%= carrera.cantidadAniosAcreditada %></td>
    <td><%= carrera.sede.nombre %></td>
    <td><%= link_to 'Show', carrera %></td>
    <td><%= link_to 'Edit', edit_carrera_path(carrera) %></td>
    <td><%= link_to 'Destroy', carrera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
